* {
    font-family: "Baskervville SC", serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #212529;
}

body {
    animation: grow 1s;
}

@keyframes grow {
    0% {
        transform: scale(.2);
    }

    100% {
        transform: scale(1);
    }
}

.border:hover {
    opacity: 1;
    animation: flash 1.5s;
}

@keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

.linear {
    position: relative;
    width: 100%;
    height: 40px;
    background: #fff;
    animation: transition 3s infinite;
    animation-timing-function: linear;
}

@keyframes transition {
    0% {
        transform: skewY(45deg) translate(0, 5000px);
    }

    50% {
        transform: skewY(45deg) translate(0, 0);
    }

    100% {
        transform: skewY(45deg) translate(0, -5000px)
    }
}

.section {
    color: black;
    background-color: #fff;
    padding: 60px 0;
    overflow: clip;
}

.about .progress {
    height: 50px;
    display: block;
    background: none;
    border-radius: 0;
    margin-top: 15px;
}

.about .progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
}

.about .progress .skill .val {
    float: right;
    font-style: normal;
}

.about .progress-bar-wrap {
    background-color: #000;
    height: 50px;
}

.about .progress-bar {
    width: 1px;
    height: 50px;
    transition: 0.9s;
    background-color: #000;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #000;
}

.contact .info-item i {
    font-size: 20px;
    color: #000;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #000;
    margin-right: 15px;
}

.contact .php-email-form .loading {
    display: none;
    background: #000;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
}

.contact .php-email-form .error-message {
    display: none;
    background: #df1529;
    color: #ffffff;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact .php-email-form button[type=submit] {
    color: #fff;
    background: #000;
    border: 0;
    padding: 10px 30px;
    border-radius: 50px;
}

.container.section-title.aos-init.aos-animate {
    text-align: center;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    border-left: 2px solid rgb(41, 174, 197);
    position: relative;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid rgb(22, 103, 117);
}

.grid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    width: 90%;
    max-width: none;
    margin: 100px auto;
}

.grid .wrapper {
    width: 100%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

#portfolio {
    animation: fadeInAnimation ease 5s;
    animation-delay: 5s;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
}

.word {
    grid-area: 1 / 1 / 3 / 3;
    width: 600px;
    animation-delay: 5s;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 5;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.test1:hover,
.test2:hover,
.test3:hover {
    opacity: .5;
    animation: flash 1.5s;
}

@keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

.test1 {
    grid-area: 3 / 1 / 5 / 2;
    align-self: start;
}

.cont1 {
    grid-area: 5 / 1 / 6 / 2;
    align-self: end;
}

.test2 {
    grid-area: 2 / 2 / 5 / 3;
}

.cont2 {
    grid-area: 5 / 2 / 6 / 3;
    align-self: end;
}

.test3 {
    grid-area: 1 / 3 / 5 / 4;
}

.cont3 {
    grid-area: 5 / 3 / 6 / 4;
    align-self: end;
}

.cont1,
.cont2,
.cont3 {
    height: 100%;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.cta-btn {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.4em 2em;
    border: 3px solid #2f00ff;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #2f00ff;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

.cta-btn:before {
    transition: 0.5s all ease;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #2f00ff;
    z-index: -1;
}

.cta-btn:hover,
.cta-btn:focus {
    color: white;
}

.cta-btn:hover:before,
.cta-btn:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

button:active {
    transform: scale(0.9);
}

.card {
    width: 300px;
    height: 200px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 8px;
    color: white;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
}

.card-content {
    padding: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.card-content .card-title {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
}

.card-content .card-para {
    color: inherit;
    opacity: 0.8;
    font-size: 14px;
}

.card:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.card:hover:before {
    transform: translateX(-100%);
}

.card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.card:hover:after {
    transform: translateX(100%);
}

.footer .social-links a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000;
    font-size: 20px;
    color: #000;
}

@media only screen and (min-width:300px) and (max-width:575px) {
    .grid {
        width: 100%;
    }

    .word {
        grid-area: 1 / 1 / 2 / 4;
        width: 100%;
    }

    .test1 {
        grid-area: 2 / 1 / 3 / 2;
        align-self: start;
    }

    .cont1 {
        grid-area: 2 / 2 / 3 / 4;
        align-self: end;
    }

    .test2 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .cont2 {
        grid-area: 3 / 2 / 4 / 4;
        align-self: end;
    }

    .test3 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .cont3 {
        grid-area: 4 / 2 / 5 / 4;
        align-self: end;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    input {
        width: 100%;
    }

    .word {
        grid-area: 1 / 1 / 2 / 4;
    }

    .test1 {
        grid-area: 2 / 1 / 3 / 2;
        align-self: start;
    }

    .cont1 {
        grid-area: 2 / 2 / 3 / 4;
        align-self: end;
    }

    .test2 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .cont2 {
        grid-area: 3 / 2 / 4 / 4;
        align-self: end;
    }

    .test3 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .cont3 {
        grid-area: 4 / 2 / 5 / 4;
        align-self: end;
    }
}

@media only screen and (min-width:769px) and (max-width:991px) {
    input {
        width: 100%;
    }

    .word {
        grid-area: 1 / 1 / 2 / 4;
    }

    .test1 {
        grid-area: 2 / 1 / 3 / 2;
        align-self: start;
    }

    .cont1 {
        grid-area: 2 / 2 / 3 / 4;
        align-self: end;
    }

    .test2 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .cont2 {
        grid-area: 3 / 2 / 4 / 4;
        align-self: end;
    }

    .test3 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .cont3 {
        grid-area: 4 / 2 / 5 / 4;
        align-self: end;
    }
}